.name{
    text-align: center;
    vertical-align: middle;
    line-height: 1.2rem;
}
.academics{
    text-align: center;
    vertical-align: middle;
    margin: 0.5rem 1.45rem;
    font-weight: lighter;
}
.summary{
}
