.imageContainer{
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    width: 120px;
    height: 80px;
}

.imageContainer:hover{
    transform: scale(0.95);
    cursor: pointer;
}